@media (min-width: 1200px) {
 .container {
 width:100%;
   /* width: 1170px; */
 }
}
@media (min-width: 992px) {
 .container {
 width:100%;
   /* width: 1170px; */
 }
}
@media (min-width: 768px) {
 .container {
 width:100%;
   /* width: 1170px; */
 }
}

blockquote
{
font-size: 17.5px;
font-weight: 300;
line-height: 1.25;
padding: 2px 2px;
}

.form-col
{
padding-left:0px;
}
.login-form
{
margin-top:12px;
margin-bottom:0px;
}
.login-group
{

}
.navbar-brand
{
padding-left:0px;
margin-top:4px;
}

.navbar-default .navbar-brand
{
color:#3276b1;
font-size:20px;
padding-bottom:10px;
}

.navbar-default .navbar-brand:hover
{
color:#3276b1;
}
.signup-group
{
background-color:white; filter:alpha(opacity=80); opacity:.8;
padding-bottom:20px;
border-radius:8px;
}

.light-well
{
background-color:white; filter:alpha(opacity=80); opacity:.8;
padding-bottom:20px;
border-radius:8px;
}

.carousel-group
{
background-color:rgba(255,255,255,0.8);
padding:0px;
padding-bottom:0px;
border-radius:8px;
height:auto;
padding:40px;
line-height:150px;
padding-bottom:80px;
}

.carousel-group  h1 
{
font-size:100px;
line-height:120px;
 text-shadow: 1px 1px 1px #31393d;
 color:white;

}

.carousel-group h1 small
{
color: #78add9;
font-size:60px;
}

.carousel
{
height:360px;
}

#wrap
{
background-image:url(/assets/images/home/image.jpg);
}

.beta-signup-well
{
line-height:90px;
margin-top:30px;
}

.navbar-brand
{
padding:0px;
margin-top:10px;
}

.navbar-default .navbar-brand .user-status
{
font-size:14px;
}

.panel-light
{
background-color:rgba(255,255,255,0.8);
}

.member-img2
{
width:40px;
border-radius:20px;
border-width:1px;
border-color:black;
margin-right:10px;
}

#connect-column
{
transition: width 0.7s ease 0s;
/* Safari */
-webkit-transition:width 0.7s ease  0s;
}

#click-column
{
transition: width 0.7s ease  0s;
/* Safari */
-webkit-transition:width 0.7s ease  0s;
}

#cliques-column
{
transition: width 0.7s ease  0s;
/* Safari */
-webkit-transition:width 0.7s ease 0s;
}


.panel-primary
{
border-width:0px;
}

.panel-primary > .panel-heading {
color: #ffffff;
background-color: rgba(0,0,255,0.1);
border-color: #428bca;
border-width: 0px;
border-bottom:1px solid;
}

.panel-heading h2 {
margin-top:0px;
margin-bottom:0px;
text-shadow: 1px  1px 1px #aaa;
}

.panel-heading h2 small {
color: #ffffff;

}

.link-heading
{
cursor:pointer;
}

img.profile-img
{
border-radius:15px;
width:30px;
}

.topic-img
{
width:30px;
margin-right:10px;
}

.topic-header
{
font-size:18px;
text-shadow:1px 1px 1px #999;
}

.navbar
{
border-radius:0px;
}

.tab-pane .active
{
background-color:white;
}

img.connect-profile-img
{
border-radius:15px;
width:30px;
background-color:black;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
border-color: #fff;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
border-color:#fff;
}

.table-left
{
background-color:rgba(255,255,255,0.8)
}

.click-panel
{
height:500px;
}

.badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 20px;
font-weight: bold;
line-height: 1;
color: #ffffff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
background-color: #999999;
border-radius: 10px;
}

#cliques-panel .no-padding-body
{
padding:0px;
}

.small-profile-img
{
width:30px;
border-radius:15px;
}

.col2-row1
{
height:50%;
overflow-y: scroll;
}

.people-panel
{
height:240px;
overflow:hidden;
}

.chat-panel
{
height:240px;
overflow:hidden;
}

.connection-list
{
overflow-y:scroll;
height:160px;
}

.content-well
{
height:100%	
}

.chat-well
{
height:100%
}

.click-well
{
height:100%
}

.content-row
{
 height: 50%;
   padding: 10px;
   padding-right: 0px;
   padding-bottom: 0px;
}

.chat-row
{
   height: 50%;
   padding: 10px;
   padding-right: 0px;
}

.click-col
{
   padding: 10px;
}

.click-panel
{
border-radius: 4px; padding: 5px;
}

.click-panel-heading
{
height: 120px; 
text-transform: uppercase;
background-color: cyan;
color: white;
border-radius: 4px;
}

.click-panel-heading-h3
{
font-weight: bold;
letter-spacing: 0.1em;
line-height: 24pt;
text-shadow: 0.1em 0.1em 0.02em rgba(0, 0, 0, 0.2);
}

.click-panel-body
{
padding-left:0px;
   padding-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.click-answer-panel
{
height: 90px;
border: 1px solid rgb(201, 201, 201);
padding: 5px;
border-radius: 4px;
background-color: #EBEBEB;
text-transform: uppercase;
cursor:pointer;
transition: background-color 0.1s;

}

.click-answer-panel:hover
{
background-color: #CBCBCB

}

.click-answer-panel-body
{
background-color: lightsteelblue;
height: 100%;
border-radius: 2px;
border: 1px solid rgb(150, 157, 172);
line-height: 90px;
}

.click-answer-span
{
display: inline-block;
vertical-align: middle;
line-height: 45px;
font-size: 14px;
font-weight: bold;
}

.click-answer-col
{
padding-right: 4px;
padding-left: 4px;
}

.click-answer-row
{
padding-left:11px;
margin-bottom:12px;
}