
#main-container {
	position: relative;
	min-height: 800px;
	padding-top: 5px;
	margin-left: 200px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

#wrapper {
	position: relative;
	overflow: hidden;
	min-height: 800px;
	background-color: #f9f9f9;
}

.padding-md {
	padding: 5px!important;
	margin-left: -200px;
}
	
.timeline-wrapper {
	position: relative;
	padding-left: 0px;
	margin-bottom: 0px;
}
