<html lang="en">
<head>
<meta charset="utf-8">
<title>Dating @ Clickd</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="/web/imported/frameworks/jquery/js/jquery-1.10.2.min.js"></script>
<script src="/web/imported/frameworks/bootstrap/js/bootstrap.js"></script>
<link href="/web/imported/frameworks/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/web/internal/home/index.css" rel="stylesheet">


<!-- AngularJS and Boostrap JS files -->
<script type="text/javascript" src="/web/imported/frameworks/angular/js/lib/angular-1.2.0rc1.js"></script>
<script type="text/javascript" src="/web/imported/frameworks/angular/js/lib/angular-resource-1.2.0rc1.js"></script>
<script type="text/javascript" src="/web/imported/frameworks/angular/js/lib/angular-route-1.2.0rc1.js"></script>
<script type="text/javascript" src="/web/imported/frameworks/angular/js/lib/angular-cookies.js"></script>



<!-- Using the UI Bootstrap AngularJS directives for Bootstrap here. For more info see:
http://angular-ui.github.io/bootstrap/ -->
<script src="/web/imported/frameworks/angular/js/lib/ui-bootstrap-tpls-0.5.0.js"></script>

<!-- Project specific JS files -->
<script src="/web/imported/frameworks/angular/clickd.js"></script>

<script> window["_GOOG_TRANS_EXT_VER"] = "1";

$(function() {
    $( "#dateOfBirth" ).datepicker();
  });
  
</script>
<script> window["_GOOG_TRANS_EXT_VER"] = "1"; </script>

<!-- 1. Include the LinkedIn JavaScript API and define a onLoad callback function -->
<!-- 
<script type="text/javascript" src="http://platform.linkedin.com/in.js">/*
  api_key: 770xu2xqifqbs0
  onLoad: onLinkedInLoad
  authorize: true
*/</script>


<script type="text/javascript">
  // 2. Runs when the JavaScript framework is loaded
  function onLinkedInLoad() {
    IN.Event.on(IN, "auth", onLinkedInAuth);
  }

  // 2. Runs when the viewer has authenticated
  function onLinkedInAuth() {
    IN.API.Profile("me").fields(["firstName","headline","industry","positions:(company)"]).result(displayProfiles);
    IN.API.Connections("me").result(listProfiles)
  }

  // 2. Runs when the Profile() API call returns successfully
  function displayProfiles(profiles) {
    member = profiles.values[0];
    // alert(JSON.stringify(member));
  }
   function listProfiles(profiles)
   {
	  	// alert(JSON.stringify(profiles));
   }

</script>
 -->


<!--  
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var diameter = 960,
    format = d3.format(",d"),
    color = d3.scale.category20c();

var bubble = d3.layout.pack()
    .sort(null)
    .size([diameter, diameter])
    .padding(1.5);

var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .attr("class", "bubble");

d3.json("/data/flare.json", function(error, root) {
  var node = svg.selectAll(".node")
      .data(bubble.nodes(classes(root))
      .filter(function(d) { return !d.children; }))
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  node.append("title")
      .text(function(d) { return d.className + ": " + format(d.value); });

  node.append("circle")
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { return color(d.packageName); });

  node.append("text")
      .attr("dy", ".3em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.className.substring(0, d.r / 3); });
});

// Returns a flattened hierarchy containing all leaf nodes under the root.
function classes(root) {
  var classes = [];

  function recurse(name, node) {
    if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
    else classes.push({packageName: name, className: node.name, value: node.size});
  }

  recurse(null, root);
  return {children: classes};
}

d3.select("div").style("height", diameter + "px");

</script>

-->

<style>
	html, body, #map-canvas {
		height: 100%;
		margin: 0px;
		padding: 0px
	}
</style>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>

	function initialize() {
		var myLatlng = new google.maps.LatLng(51.5488374, -0.1221549);
		var mapOptions = {
		  zoom: 8,
		  center: myLatlng
		}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);

		// To add the marker to the map, use the 'map' property
		var marker = new google.maps.Marker({
		    position: myLatlng,
		    map: map,
		    title: "Hello World!"
		});

	}	
	google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    
 
</head>
<body>
    <div id="fb-root"></div>
    <script>
  function doLoginFb()
  {
	  FB.login(function(response){
		  console.log(response);
		  console.log('congrats')
		  
		  var userId = response.authResponse.userID;
		  
		  
		  
		  // alert(userId);
		  var userRef = '';
		  <!-- GET USER STUFF -->
		  FB.api('/me', function(response) {
				var registerWithFacebookUrl = "/users/register/source/facebook";
				$.ajax({
				    type: "POST",
				    url: registerWithFacebookUrl,
				    // The key needs to match your method's input parameter (case-sensitive).
				    data: "facebookData="+ JSON.stringify(response),
				    dataType: "json",
				    success: function(data){
				    	var jsonResponse = JSON.stringify(data);
				    	console.log('/users/reg response =' + jsonResponse);
				    	userRef = data["ref"];
				    	console.log(userRef);
						
				    	/*
				    	  FB.api('/me/albums', function(response) {
				  			console.log('ALBUMS=' + JSON.stringify(response));
				  		  });
				    	  */
				    	  
				  	
				  		  
				  		  FB.api('/me/likes', function(response) {
				  			var likeDetails = JSON.stringify(response);
				  			var registerLikeDataUrl = "/users/register/likes";
				  			var likeData = new FormData();
				  			likeData.append('likeData', likeDetails);
				  			$.ajax({
				  			    type: "POST",
				  			    url: registerLikeDataUrl,
				  			    // The key needs to match your method's input parameter (case-sensitive).
				  			    data: {"likeData" : likeDetails, "userRef" : userRef.split("/")[2] },
				  			    dataType: "json",
				  				    success: function(data){
				  			    	console.log('/users/register/likes =' + JSON.stringify(data));
				  			    },
				  			    failure: function(errMsg) {
				  			    	console.log('ERROR=' + errMsg);
				  			    }
				  			});
						});
				  		
				  		  
				  		  
					  		  FB.api('/me/friends', function(response) {
					  			 // console.log("FRIENDS="+JSON.stringify(response));
					  			var friendsArray = response.data;
					  			
					  			friendsArray.forEach(function(entry){
					  				var friendId = entry["id"];
						  				//register the user
					  				FB.api('/'+friendId, function(friendResponse) {
										var registerWithFacebookUrl = "/users/register/source/facebook";
										console.log("friend details = "+JSON.stringify(friendResponse));
										//hacky -- fix
										friendResponse.email = friendResponse.first_name.toLowerCase() + "." + friendResponse.last_name.toLowerCase() + "@clickd.org";
										$.ajax({
										    type: "POST",
										    url: registerWithFacebookUrl,
										    // The key needs to match your method's input parameter (case-sensitive).
										    data: "facebookData="+ JSON.stringify(friendResponse),
										    dataType: "json",
										    success: function(data){
											    	var jsonResponse = JSON.stringify(data);
											    	console.log('registering user =' + jsonResponse);
											    	var friendRef = data["ref"];
											    	console.log(friendRef);
										    		
											    	 FB.api('/'+friendId+'/likes', function(likesResponse) {
												  			var likeDetails = JSON.stringify(likesResponse);
												  			// likeDetails = likeDetails.replace(/&/g, '');
												  			// console.log('\n\n TRANSFORMED=' + likeDetails);
												  			
												  			var registerLikeDataUrl = "/users/register/likes";
												  			var likeData = new FormData();
												  			likeData.append('likeData', likeDetails);
												  			$.ajax({
												  			    type: "POST",
												  			    url: registerLikeDataUrl,
												  			    // The key needs to match your method's input parameter (case-sensitive).
												  			    data: {"likeData" : likeDetails, "userRef" : friendRef.split("/")[2] },
												  			    dataType: "json",
												  				    success: function(data){
												  			    	console.log('/users/register/likes =' + JSON.stringify(data));
												  				  
															  		  FB.api('/' + friendId + '/checkins', function(response) {
																  			var checkinDetails = JSON.stringify(response);
																  			console.log('CHECKINS=' + checkinDetails);
																  			var registerCheckinUrl = "/users/register/checkins";
																  			$.ajax({
																  			    type: "POST",
																  			    url: registerCheckinUrl,
																  			    // The key needs to match your method's input parameter (case-sensitive).
																  			    data: {"checkinData" : checkinDetails, "userRef" : friendRef.split("/")[2] },
																  			    dataType: "json",
																  				    success: function(data){
																  			    	console.log('/users/register/checkins =' + JSON.stringify(data));
																  			    },
																  			    failure: function(errMsg) {
																  			    	console.log('ERROR=' + errMsg);
																  			    }
																  			});
															  		});
												  			    	
												  			    },
												  			    failure: function(errMsg) {
												  			    	console.log('ERROR=' + errMsg);
												  			    }
												  			});
												  		});
											    	 
											   	  FB.api('/' + friendId + '/movies', function(response) {
											  			console.log('\nMOVIES=' + JSON.stringify(response));
											  			var movieDetails = JSON.stringify(response);
											  			var registerMoviesUrl = "/users/register/movies";
											  			var movieData = new FormData();
											  			movieData.append('movieData', movieDetails);
											  			$.ajax({
											  			    type: "POST",
											  			    url: registerMoviesUrl,
											  			    // The key needs to match your method's input parameter (case-sensitive).
											  			    data: {"movieData" : movieDetails, "userRef" : userRef.split("/")[2] },
											  			    dataType: "json",
											  				    success: function(data){
											  			    	console.log('/users/register/movies =' + JSON.stringify(data));
											  			    },
											  			    failure: function(errMsg) {
											  			    	alert('register movies failed');
											  			    	console.log('ERROR=' + errMsg);
											  			    }
											  			});
											  			
											  	  });
											    	 
				
												  			
										    	}
										    }
										);
					  				
					  				//grab their likes		
					  			  });		
					  			}); //end foreach
					  		  });
					  		  
					  	
					  		  
					  		  
					  		  
					  		/*
					  		  FB.api('/me/friendlists', function(response) {
					  			console.log('FRIENDLISTS=' + JSON.stringify(response));
					  			});
	
					  		  FB.api('/me/interests', function(response) {
					  			console.log('\nINTERESTS=' + JSON.stringify(response));
					  			});
	
		
					  			
					  			
					  			
					  			
					  			});
	
	
					  		  FB.api('/me/picture', function(response) {
					  				console.log('PICTURE=' + JSON.stringify(response));
					  			});
							*/
				  		  
				    },
				    failure: function(errMsg) {
				    	console.log('ERROR=' + errMsg);
				    }
				});
		    });

		


	}, {scope: 'user_location, friends_location, user_about_me, friends_about_me, user_birthday, friends_birthday, email, user_interests, friends_interests, user_likes, friends_likes,user_photos, friends_photos, user_checkins, friends_checkins, read_friendlists'});
  }
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '585166461570415',
          status     : true,
          xfbml      : true
        });
        
        FB.Event.subscribe('auth.authResponseChange', function(response) {
    	    if (response.status === 'connected') {
    	      console.log('Logged in');
    	    } else {
    	    }
    	  });
      };
      
     

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    
<div ng-app="clickdApplication" ng-controller="AppController" >
	<!-- SINGLE SCREEN -->
	<div ng-if="!isUserLoggedIn()" id="home-wrapper" >
		<div id="top-nav" class="navbar nav navbar-inverse">
		<div class="container">
			<a href="#" class="brand navbar-left"> <span>This is <strong>dating</strong> @ clickd</span>
			</a>
			<!-- /brand -->
			<div class="navbar-right">
				<div class="label label-danger pull-right login-error" ng-if="signInFormData.signInFailed">Your login failed.</div>
			</div>
			<div class="navbar-right">
				<form ng-submit="signInFormSubmit()" class="form-group login-form">
					<div class="form-group-navbar">
						<div class="col-md-4 col-sm-5 form-group navbar-form-group" id="login-email-group">
							<input ng-model="signInFormData.email" type="email" class="form-control col-md-3 col-sm-3" placeholder="Email" name="email" id="login-email-input">
						</div>
						<div class="col-md-4 col-sm-5 form-group navbar-form-group" id="login-password-group">
							<input ng-model="signInFormData.password" type="password" class="form-control" placeholder="Password" name="password" id="login-password-input">
						</div>
	
						<div class="col-md-1 col-sm-1 form-group navbar-form-group">
							<button class="btn btn-default" type="submit">Sign In</button>
						</div>
						
							<div class="col-md-1 col-sm-1 form-group navbar-form-group">
							<div class="btn btn-default" id="facebook-login" onClick="doLoginFb()">FB</div>
						</div>
						
						<div class="col-md-1 col-sm-1 form-group navbar-form-group">
						
						<script type="IN/Login"></script>
						</div>
						
					</div>
				</form>
			</div>
			</div>
		</div>
	
		<div id="main-container-home">
		<!-- <div class="col-md-7 signup-group">
		    <div id="map-canvas"></div>
		
		</div> -->
			<div class="col-xs-12 col-md-4 col-md-offset-7 col-sm-6 col-sm-offset-6 signup-group">
				<form ng-submit="processRegisterForm()">
					<div class="panel" ng-if="!requestMemberBio()" id="form-page-1">
						<h2>
							Sign Up<small> to see who you click with</small>
						</h2>
						<hr>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input ng-model="registerFormData.firstName" type="text" name="firstName" id="first_name" class="form-control" placeholder="First Name">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input ng-model="registerFormData.lastName" type="text" name="lastName" id="last_name" class="form-control" placeholder="Last Name">
								</div>
							</div>
						</div>
						<div class="form-group">
							<input ng-model="registerFormData.email"  type="email" name="email" id="email" class="form-control input-md" placeholder="Email Address">
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input ng-model="registerFormData.password_confirmation" type="password" name="password_confirmation" id="password_confirmation" class="form-control input-md" placeholder="Password">
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<div class="form-group">
									<input ng-model="registerFormData.password" type="password" name="password" id="password" class="form-control input-md" placeholder="Confirm Password">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">Click register to get started on clickd!</div>
						</div>
		
						<hr>
						<div class="row">
							<div class="col-xs-6 col-md-12">
								<button ng-click="showMemberBioRequest()" class="btn btn-primary btn-block btn-lg" type="button">Get Started</button>
							</div>
		
						</div>
					</div>
		
					<div ng-if="requestMemberBio()" class="panel" id="form-page-2">
						<h2>Almost there...</h2>
						<hr>
					<span class="label label-danger pull-right signup-error" ng-if="registerFormData.registerFailed">Your registration failed.</span>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-12">
								<div class="form-group">
									<input type="text" ng-model="registerFormData.dateOfBirth" name="dateOfBirth" id="dateOfBirth" class="form-control input-md" placeholder="When's your birthday?">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-12">
								<div class="form-group">
									<input type="text" ng-model="registerFormData.postcode" name="postcode" id="postcode" class="form-control input-md" placeholder="What's your postcode?">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-12">
								<div class="form-group">
									<select class="form-control" name="gender" id="gender" ng-model="registerFormData.gender">
										<option value="" disabled="" selected="">What's your gender?</option>
										<option>Male</option>
										<option>Female</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="http://localhost:8080/assets/app/home#" data-toggle="modal"
									data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
							</div>
						</div>
		
						<hr>
						<div class="row">
							<div class="col-xs-6 col-md-12">
								<input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7">
							</div>
		
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- USER SCREEN -->
	<div ng-if="isUserLoggedIn()" id="user-wrapper">
		<div id="logoutConfirm_background" class="popup_background" style="opacity: 0; visibility: hidden; background-color: black; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 2000; transition: all 0.3s; -webkit-transition: all 0.3s;" ></div>
		
		<div id="logoutConfirm_wrapper" class="popup_wrapper" style="opacity: 0; visibility: hidden; position: fixed; overflow: auto; z-index: 2001; transition: all 0.3s; -webkit-transition: all 0.3s; top: 0px; right: 0px; left: 0px; bottom: 0px; text-align: center; display: none;" >
			<div class="custom-popup width-100 popup_content" id="logoutConfirm" data-popup-initialized="true" aria-hidden="true" role="dialog" aria-labelledby="open_67128750" style="opacity: 0; visibility: hidden; display: inline-block; outline: none; transition: all 0.3s; -webkit-transition: all 0.3s; text-align: left; position: relative; vertical-align: middle;" >
				<div class="padding-md">
					<h4 class="m-top-none">Do you want to logout?</h4>
				</div>
				<div class="text-center">
					<a class="btn btn-success m-right-sm" href="login.html">Logout</a> <a class="btn btn-danger logoutConfirm_close">Cancel</a>
				</div>
			</div>
			<div class="popup_align" style="display: inline-block; vertical-align: middle; height: 100%;"></div>
		</div> <!--  end user logout wrapper -->
		
		<!-- Overlay Div -->
		<div id="overlay" class="transparent" style="display: none;"></div>
		<div id="top-nav" class="navbar nav navbar-inverse navbar-fixed-top" >
			<a href="#" class="navbar-brand"><span><img class="small-profile-img"  ng-src="/profile-img/{{model.currentUser.user.ref}}.jpg"> is dating @ clickd</span></a>
			<ul class="nav-notification navbar-right nav">
				<li class="profile dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span id="user-full-name"><strong>{{model.currentUser.user.firstName}}</strong></span> <span><i class="fa fa-chevron-down"></i></span>
				</a>
					<ul class="dropdown-menu">
						<li><a class="clearfix" href="#"> <span class="detail"> <strong>{{model.currentUser.user.firstName}} {{model.currentUser.user.lastName}}</strong><br/><span class="grey">{{model.currentUser.user.email}}</span>
							</span>
						</a></li>
						<li><a tabindex="-1" href="profile.html" class="main-link"><i class="fa fa-edit fa-lg"></i> Edit profile</a></li>
						<li><a tabindex="-1" href="gallery.html" class="main-link"><i class="fa fa-picture-o fa-lg"></i> Photo Gallery</a></li>
						<li><a tabindex="-1" href="#" class="theme-setting"><i class="fa fa-cog fa-lg"></i> Setting</a></li>
						<li class="divider"></li>
						<li><a tabindex="-1" class="main-link logoutConfirm_open" href="#" data-popup-ordinal="0" id="link-sign-out" ng-click="signOut()">
						<i class="fa fa-lock fa-lg" ></i>Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /top-nav-->
		
		<div class="main-container">
			<div class="row">
				<div class="col-sm-2 sidebar">
					<!-- NAVIGATOR -->
					<a href="" ng-click="onClickCandidates()"><h4>Candidates</h4></a>
					<div ng-if="isCandidatesMenuOn()" class="list-group">
							<a class="list-group-item" ng-repeat="candidate in model.currentUser.candidates"
							ng-click="onClickCandidate({{candidate.user}})" href="#"
							ng-class="{active: isUserSelected('{{candidate.user.ref}}')}"
							 >
								&nbsp;<img class="small-profile-img" ng-src="/profile-img/{{candidate.user.ref}}.jpg">
								{{candidate.user.firstName}} <span class="badge small-badge">{{candidate.score}}</span></a>
					</div>	
					<hr/>
					<a href="" ng-click="onClickConnections()"><h4>Connections</h4></a>
					<div ng-if="isConnectionsMenuOn()"  class="list-group">
						<a class="list-group-item"  ng-repeat="connection in model.currentUser.connections"
						ng-click="onClickConnection({{connection}})" href="#"
						ng-class="{active: isUserSelected('{{connection.ref}}')}"
							 >
								&nbsp;<img class="small-profile-img" ng-src="/profile-img/{{connection.ref}}.jpg">
								{{connection.firstName}}
							</a>
					</div>
					<hr/>
					<a href="" ng-click="onClickCliques()"><h4>Cliques</h4></a>
					<div ng-if="isCliquesMenuOn()"  class="list-group">
						<a class="list-group-item"  ng-repeat="clique in model.currentUser.cliques"
						ng-click="onClickClique({{clique}})" href="#"
						ng-class="{active: isCliqueSelected({{'clique.ref'}})}">
									&nbsp;{{clique.name}}  <span class="badge small-badge">{{clique.cliqueSize-1}}</span>
						</a>
					</div>
					<hr/>
				
				<div class="slimScrollBar" style="background-color: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 524.2330623306233px;" ></div>
				<div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;" ></div>
		</div> <!--  end sidebar -->
		
		<div class="col-sm-10 col-sm-offset-2">
			<div class="col-sm-8">
				<div class="row content-row">
					<div class="well content-well" id="content-window">
						<h4 id="content-window-header">Current Selection : {{model.currentSelection}}</h4>
						
						<!-- VIEW CANDIDATES -->
						<div ng-if="model.currentSelection == 'candidates'" class="panel candidates-panel">
								<div class="member-md-panel" ng-repeat="candidate in model.currentUser.candidates" ng-click="onClickCandidate({{candidate.user}})" href="#" ng-class="{active: isUserSelected('{{candidate.user.ref}}')}" >
									&nbsp;<img class="member-md-image" ng-src="/profile-img/{{candidate.user.ref}}.jpg">
									{{candidate.user.firstName}} <span class="badge small-badge">{{candidate.score}}</span></a>
								</div>	
						</div>

						<!-- VIEW CANDIDATE (X) -->						
						<div ng-if="model.currentSelection == 'candidates.user'" class="panel candidates-panel">
							<div class="row">
								<div class="col-md-6">
									<img class="member-md-image" ng-src="/profile-img/{{model.currentUser.user.ref}}.jpg">	
									Me<br/>
									{{model.currentUser.user.firstName}} {{model.currentUser.user.lastName}}<br/>
									
								</div>
								<div class="col-md-6">
									<img class="member-md-image" ng-src="/profile-img/{{model.selectedUser.ref}}.jpg">
									{{model.selectedUser.firstName}} {{model.selectedUser.lastName}} 
									<div ng-if="model.selectedUserPresentation.connectionRequestSent == true"> was sent your connection request.</div>
									<button ng-if="model.selectedUserPresentation.connectionRequestSent == false" class="btn btn-large" href="#" ng-click="onAddConnection({{model.selectedUser}})">Add connection</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<hr/>
									<strong>What we have in common:</strong>
									<hr/>
									<span ng-repeat="choice in model.selectedUserComparison" >
											{{choice}}<br/>
									</span>
								</div>
							</div>
						</div>
						
						<div ng-if="model.currentSelection == 'connections'" class="panel candidates-panel">
								<div class="member-md-panel" ng-repeat="connection in model.currentUser.connections" ng-click="onClickConnection({{connection}})" href="#"  >
									&nbsp;<img class="member-md-image" ng-src="/profile-img/{{connection.ref}}.jpg">
									{{connection.firstName}} {{connection.lastName}}</a>
								</div>	
						</div>
						
						<!-- VIEW CONNECTION (X) -->
						<div ng-if="model.currentSelection == 'connections.user'" class="panel candidates-panel">
						<div class="row">
							<div class="col-md-6">
							<img class="member-md-image" ng-src="/profile-img/{{model.selectedUser.ref}}.jpg">
							{{model.selectedUser.firstName}}<span ng-if="model.selectedUserPresentation.hasBeenRejectedByUser==true">'s connection request was rejected.</span><br/>
							{{model.selectedUser.connectionData.status}}
							<br/><br/>
							<div ng-if="model.selectedUserPresentation.isConnectionRecipient == true">
							<button class="btn btn-large" href="#" ng-if="model.selectedUser.connectionData.status == 'pending'" ng-click="onAcceptConnection({{model.selectedUser.connectionData}})">Accept connection</button><br/>
							<br/>
							<button class="btn btn-large" href="#" ng-if="model.selectedUser.connectionData.status == 'pending'"  ng-click="onRejectConnection({{model.selectedUser.connectionData}})">Reject connection</button>
							<span ng-repeat="choice in model.selectedUserComparison" >
										We both like {{choice}}<br/>
								</span>	
							</div>
							</div>
						</div>
						</div>
						
						
						<!-- VIEW CLIQUES -->
						<div ng-if="model.currentSelection == 'cliques'" class="panel candidates-panel">
						<div class="member-md-panel" ng-repeat="clique in model.currentUser.cliques" ng-click="onClickClique('{{clique.name}}')" href="#" ng-class="{active: isCliqueSelected('{{clique.name}}')}" >
									<div ng-if="clique.name.indexOf('like') != -1">
										<img class="image" width="20px" height="20px" ng-src="/web/internal/home/images/fb_like.jpg">
									 </div>
									{{clique.name}}
									<br/>
								</div>	
						</div>
						
						<!--  VIEW CLIQUE -->
						<div ng-if="model.currentSelection == 'cliques.clique'" class="panel clique-panel">
						
							<div class="member-md-panel" ng-repeat="cliqueMember in model.selectedClique.cliqueMembers"  href="#"  >
									&nbsp;<img class="member-md-image" ng-src="/profile-img/{{cliqueMember.ref}}.jpg" ng-click="selectCliqueMember({{cliqueMember}})">
									{{cliqueMember.firstName}} {{cliqueMember.lastName}}</a>
								</div>	
						</div>
						
					</div>
				</div>
				<div class="row chat-row">
				<div id="map" style="width:100%;height:100%;"></div>

					<!--
					<div class="well chat-well">
						<ul class="nav nav-pills">
							<li class="active"><a href="#">Candidates</a></li>
							<li><a href="#">Connections</a></li>
							<li><a href="#">Cliques</a></li>
						</ul>
						<br/>
						<div class="row">
							<div class="col-sm-2" align="left">
								<img class="small-profile-img" ng-src="/web/internal/home/images/members/facebook_ralph.jpg">
								<strong>Ralph :</strong>
							</div>
							<div class="col-sm-10" align="left">
								Hey - r u busy?
							</div>
						</div>
						<br/>
						<div class="row">
							<div class="col-sm-2" align="left">
								<img class="small-profile-img" ng-src="/web/internal/home/images/members/facebook_john.jpg">
								<strong>John : </strong>
							</div>
							<div class="col-sm-10" align="left">
								Yeah dude - get back to work 
							</div>
						</div>
						-->
					</div>
				</div>

			</div>
			<!-- /.padding -->
			<div class="col-sm-4 click-window menu-grid click-col">
				<div class="well click-well">
				
					<!-- If there are questions -->
					<div ng-if="moreQuestionsToAsk()" class="panel click-panel">
						<div class="panel-heading click-panel-heading"">
							<h3 class="click-panel-heading-h2">{{model.currentUser.currentQuestion.questionText}}</h3>
						</div>
						
						<div class="panel-body click-panel-body" id="click-panel-answers">
							<!--  Answers for this question -->
							<div class="row">
								<div class="col-sm-4" ng-repeat="answer in model.currentUser.currentAnswers" >
									<div align="center"  class="click-answer-panel" ng-click="onSelectAnswer({{model.currentUser.currentQuestion}}, '{{answer}}')" >
										<span class="click-answer-span">{{answer}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- If there are NO MORE questions -->
					<div ng-if="!moreQuestionsToAsk()" class="panel click-panel">
						<div class="panel-heading click-panel-heading"">
							<h3 class="click-panel-heading-h2">You've totally clickd!</h3>
						</div>
						
						<div class="panel-body click-panel-body" id="click-panel-answers">
							<!--  Answers for this question -->
							<div class="row">
								<div align="center" class="col-md-8" >
									<div align="center"  class="click-answer-panel" >
										<span>Ask your own questions</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-large" id="button-skip-question" ng-click="loadNextQuestion()">Skip Question</button>
				
				</div>
					<!--  end click panel -->
			</div>
		</div>
	</div> <!--  end row -->
</div> <!--  end container -->
</div> <!--  end user wrapper -->
</div> <!--  end click app -->
</body>

</html>